@import "../node_modules/bulma/css/bulma.css";

.table-custom td,
.table-custom th {
  border: solid 1px darkgray;
}

td.data {
  font-family: monospace;
  word-wrap: break-word;
}

@media print {
  body {
    margin: 1rem;
  }
  .screen-only {
    display: none !important;
  }

  td.barcode {
    min-width: 25%;
  }
}

footer {
  text-align: right;
}

.notification {
  margin-top: 0.5rem;
}

.output-inline {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0;
}

.output-inline .cell {
  border: solid 1px #eee;
  padding: 10px;
}

.output-inline .barcode {
  text-align: center;
}

.output-inline .text {
  text-align: center;
}
