@import "../node_modules/bulma/css/bulma.css";

.table-custom td,
.table-custom th {
  border: solid 1px darkgray;
}

.row {
  width: 100%;
}

.url {
  font-family: monospace;
}

@media print {
  .screen-only {
    display: none !important;
  }
  table {
    table-layout: fixed;
    width: 100%; /* Ensures the table uses the full page width */
  }
  td.data {
    font-size: 1rem;
    /* width: 75%; */
    word-wrap: break-word; /* Allows long URLs to wrap within the cell */
    /* max-width: 75%; */
  }
  td.barcode {
    /* make image larger for printing */
    width: 25%;
    min-width: 25%;
  }
  td.barcode img {
    width: 100%;
  }
}

footer {
  text-align: right;
}

.notification {
  margin-top: 0.5rem;
}

.output-inline {
  display: flex;
  flex-wrap: wrap;
}

.output-inline .barcode {
  text-align: center;
}

.output-inline .text {
  text-align: center;
}
