@import "../node_modules/bulma/css/bulma.css";

.table-custom td,
.table-custom th {
  border: solid 1px darkgray;
}

td.data {
  font-family: monospace;
  word-wrap: break-word;
}

@media print {
  body {
    margin: 1rem;
  }
  .screen-only {
    display: none !important;
  }

  td.barcode {
    min-width: 25%;
  }
}

footer {
  text-align: right;
}

.notification {
  margin-top: 0.5rem;
}

.output-inline {
  display: flex;
  flex-wrap: wrap;
}

.output-inline .barcode {
  text-align: center;
}

.output-inline .text {
  text-align: center;
}
